$breakpoints: (
  md: 768px,
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.banner {
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
  transition: background-color 0.2s;

  @include respond-to(md) {
    flex-direction: column-reverse;
  }

  &--active {
    background-color: #333;

    .banner__container {
    }
  }

  &__container {
    width: 50%;
    min-height: calc(100vh - 60px - 40px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

    @include respond-to(md) {
      width: 100%;
      min-height: auto;
    }

    &:nth-child(2) {
      justify-content: center;
      align-items: center;
    }
  }
}
