.banner {
  display: flex;
  align-items: center;
  transition: background-color 0.2s;

  &--active {
    background-color: #333;

    .banner__container {
    }
  }

  &__container {
    width: 50%;
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(2) {
      align-items: center;
      justify-content: center;
    }
  }
}
