$breakpoints: (
  md: 768px,
);

@mixin respond-to($breakpoint) {
  @media (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

.typed {
  width: 100%;

  @include respond-to(md) {
    width: auto;
  }

  &__greeting {
    color: #333;
    font-weight: 200;
    transition: color 0.2s;
  }

  &__intro {
    &Text {
      font-weight: 700;
      transition: color 0.2s;

      &:nth-child(1) {
        color: #333;
      }

      &:nth-child(2) {
        color: #e91e63;
      }
    }
  }
}
