.night {
  // position: absolute;
  // bottom: 25px;
  // left: 50%;
  // transform: translateX(-50%);
  width: 60px;
  height: 60px;
  background: #f0f0f0;
  border-radius: 50%;
  color: #666;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;
  // font-size: 2em;

  &.active {
    background: #444;

    .night__icon {
      fill: #fff;
    }
  }

  &:hover {
    opacity: 0.8;
  }

  &__icon {
    width: 100%;
    height: 100%;

    &.active {
      display: none;
      fill: #fff;
    }
  }
}
